.index-content {
  position: relative;
  padding: 16px;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
}

.index-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
